
#bc-wrapper{
    margin: 30px auto;
    width: 700px;
    color: #333;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    
}

/* SEARCH ------------------------------------------------------------ SEARCH */
#bc-wrapper div.search{
    clear: both;
    margin-left: 200px;
    margin-top: 20px;
}

#bc-wrapper div.search *{
    vertical-align: middle;
}

#bc-wrapper div.search input{
    width: 290px;
    height: 20px;
    border: 1px solid #BBB;/*#333;*/
}

#bc-wrapper div.search img{
    cursor: pointer;
}
/* SEARCH --------------------------------------------------------------- END */

/* CITY-NAV -------------------------------------------------------- CITY-NAV */
#bc-wrapper div.city-nav{
    clear: both;
    margin: 20px 0px 20px 200px;

}

#bc-wrapper div.city-nav span.curr-city{
    font-weight: bold;
    float: left;
    margin-bottom: 3px;
}

#bc-wrapper div.city-nav span.city-list-trigger{
    border-bottom: 1px #0066CC dashed;
    float: left;
    margin-left: 20px;
    color: #0066CC;
    cursor: pointer;
}
/* CITY-NAV ------------------------------------------------------------- END */

/* CITY-LIST ------------------------------------------------------ CITY-LIST */
#bc-wrapper div.city-list{
    display: none;
    clear: both;
    margin: 0px 0px 20px 0px;
    width:100%;

    
    /*background-color: rgb(241,250,255);*/
}

#bc-wrapper div.city-list div.head{
    padding-left: 270px;
    height: 15px;
}

#bc-wrapper div.city-list div.head span.close{
    margin-right: 20px;
    float: right;
    color: #0066CC;
    height: 15px;
    line-height: 15px;
    /*font-size: 70%;*/
    font-size: 12px;
    cursor: pointer;
}

#bc-wrapper div.city-list div.head span.close:hover{
    text-decoration: underline;
}

#bc-wrapper div.city-list div.content{
    border: 1px solid #0077EE;
    
}

#bc-wrapper div.city-list div.content li{
    cursor: pointer;
}

#bc-wrapper div.city-list div.content table{
    padding: 10px;
    margin: 20px 0px 20px 10px;
}

#bc-wrapper div.city-list div.content tr.head{
    margin: 20px 20px 0px 20px;
}
#bc-wrapper div.city-list div.content tr.head td{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#bc-wrapper div.city-list div.content td{
    width: 200px;
    vertical-align: top;
    padding: 10px 15px 20px 15px;

}

#bc-wrapper div.city-list tr.city-search td{
    padding: 0px 0px 20px 10px;
}

#bc-wrapper div.city-list tr.city-search td *{
    vertical-align: middle;
}

#bc-wrapper div.city-list tr.city-search input{
    width: 290px;
    height: 20px;
    border: 1px solid #AAA;
}

#bc-wrapper div.city-list div.content td li{
    width: 200px;
    min-height: 25px;
    line-height: 25px;

}

#bc-wrapper div.city-list div.content td li:hover{
    color: #0066CC;
}

#bc-wrapper div.city-list div.content td.select-base ul{
    display: none;
}

#bc-wrapper div.city-list div.content td.select-base ul.current{
    display: block;
}

#bc-wrapper div.city-list div.content td.select-base.areas{
    border-left: 1px #0077EE dashed;
    border-right: 1px #0077EE dashed;
    font-size: 18px;
}

#bc-wrapper div.city-list div.content td.select-base.areas div.area-center{
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

#bc-wrapper div.city-list div.content td.select-base.areas li.selected{
    background-image: url(../img/layout/area-selected.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: bold;
    /*color: #0066CC;*/
}

#bc-wrapper div.city-list div.content td.select-base.cities{
    font-size: 16px;
}

#bc-wrapper div.city-list div.content td.select-base.cities span.show-all{
    font-size: 13px;
    color: #0066CC;
    height: 13px;
    line-height: 13px;
    cursor: pointer;
    float: right;
    margin: 5px 7px 0px 0px ;
}

#bc-wrapper div.city-list div.content td.select-base.cities span.show-all:hover{
    text-decoration: underline;
}

#bc-wrapper div.city-list div.content td.select-base.cities li.selected{
    color: #0066CC;
    font-weight: bold;
}

#bc-wrapper div.city-list div.content td.select-base.regions{
}

#bc-wrapper div.city-list div.content td.select-base.regions li{
    font-size: 20px;
}

#bc-wrapper div.city-list div.content td.select-base.regions li.selected{
    background-image: url(../img/layout/region-selected.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: bold;
    /*color: #0066CC;*/
}
/* CITY-LIST ------------------------------------------------------------ END */

/* BANK-LIST ------------------------------------------------------ BANK-LIST */

#bc-wrapper div.bank-list{
    margin-top: 20px;
}

#bc-wrapper div.bank-list table {
    border-collapse: collapse;
}

#bc-wrapper div.bank-list table td.logo-col{
    text-align: right;
    width: 170px;
    padding-right: 15px;
}

#bc-wrapper div.bank-list table td.title-col{
    width: 370px;
    padding-left: 15px
}

#bc-wrapper div.bank-list table td.link-col{
    width: 160px;
}

#bc-wrapper div.bank-list table td.link-col a{
    text-decoration: none;
    color: #0066CC;
}

#bc-wrapper div.bank-list table td.link-col a:visited{
    color: #333;
}

#bc-wrapper div.bank-list table td.link-col a:hover{
    color: #333;
}

#bc-wrapper div.bank-list table tbody tr{
    border-top: 1px solid #DDD;
    height: 37px;
    padding: 3px;
}

#bc-wrapper div.bank-list table tbody tr.not-in-city{
    display: none;
}

#bc-wrapper div.bank-list table tbody tr:hover, #bc-wrapper div.department-list tbody tr:hover, #bc-wrapper div.atm-list tbody tr:hover, #bc-wrapper div.exchange-list tbody tr:hover{
    border-top: 1px solid #0077EE;
    border-bottom: 1px solid #0077EE;
    background-color: rgb(241,250,255);
}

#bc-wrapper div.bank-list table td{
    padding: 3px;
}

#bc-wrapper div.bank-list table td *{
    vertical-align: middle;
}
/* BANK-LIST ------------------------------------------------------------ END */

/* ALPHA-NAV ------------------------------------------------------ ALPHA-NAV */
#bc-wrapper div.alpha-nav{
    clear: both;
    cursor: default;
    width: 700px;
}

#bc-wrapper div.alpha-nav ul{
    text-align: center;
    width: 100%;
}

#bc-wrapper div.alpha-nav li{

    display: inline-block;
    width: 20px;
    color: #DDD;
}

#bc-wrapper div.alpha-nav li.first{
    width: 33px;
}

#bc-wrapper div.alpha-nav li.variant{

    color: #0066CC;
    cursor: pointer;
}

#bc-wrapper div.alpha-nav li.selected{
    font-weight: bold;
    text-decoration: underline;
}
/* ALPHA-NAV ------------------------------------------------------------ END */


/* BHEADER ---------------------------------------------------------- BHEADER */

#bc-wrapper div.bheader{ clear: both; min-height: 100px; margin: 10px 0px;}
#bc-wrapper div.bheader div.logo,
#bc-wrapper div.bheader div.descr{ float: left; }
#bc-wrapper div.bheader div.logo{ vertical-align: middle; }
#bc-wrapper div.bheader div.logo{ padding: 10px; border-right: 1px solid #BBB; }
#bc-wrapper div.bheader div.descr{ padding: 30px 0px 10px 10px; }
#bc-wrapper div.bheader div.title{ font-size: 150%; }
#bc-wrapper div.bheader div.full-name{ font-size: 80%; font-style: italic; }

/* BHEADER -------------------------------------------------------------- END */


/* FULL-DATA ------------------------------------------------------ FULL-DATA */

#bc-wrapper div.full-data{
    margin: 40px 0px;
}

#bc-wrapper div.full-data table{ width: 100%; }
#bc-wrapper div.full-data table tr{
    border-bottom: 1px dashed #BBB;
}

#bc-wrapper div.full-data>div table tr.last{
    border-bottom: 0px;
}

#bc-wrapper div.full-data table tr td { padding: 10px; vertical-align: top;}
#bc-wrapper div.full-data table tr td.title-col{ width: 20%; }
#bc-wrapper div.full-data table tr td.info-col{ width: 80%; }

/* FULL-DATA ------------------------------------------------------------ END */


/* DEPARTMENTS -------------------------------------------------- DEPARTMENTS */

#bc-wrapper #departments div.city-nav{ margin-left: 20px; }
#bc-wrapper #departments div.search{ margin-left: 20px; }

#bc-wrapper #departments td.title-col{ width: 170px; }
#bc-wrapper #departments td.title-col div.work-time{ margin-top: 10px; padding: 10px; border-top: 1px solid #BBB; }
#bc-wrapper #departments td.title-col div.work-time div{ clear: both; }
#bc-wrapper #departments td.title-col div.work-time div.days{ font-size: 70%; font-weight: bold; }
#bc-wrapper #departments td.title-col div.work-time div.hours{ font-size: 90%; }

#bc-wrapper #departments td.addr-col{ width: 270px; }
#bc-wrapper #departments td.addr-col div.note{ font-size: 90%; color: #999; margin-top: 10px; }

#bc-wrapper #departments td.map-col img{ cursor: pointer; }
#bc-wrapper #departments td.map-col{ width: 60px; text-align: center; }

#bc-wrapper #departments td.phone-col{ width: 150px; }
#bc-wrapper #departments td.phone-col div{ padding-left: 20px; }
#bc-wrapper #departments td.phone-col div.fax{ background: url(../img/layout/phone-fax.png) 0px 0px no-repeat; }
#bc-wrapper #departments td.phone-col div.phone{ background: url(../img/layout/phone.png) 0px 0px no-repeat; }
#bc-wrapper #departments td.phone-col div.mobile{ background: url(../img/layout/phone-mobile.png) 0px 0px no-repeat; }

#bc-wrapper div.department-list tbody tr{ border: 0px; border-top: 1px solid #BBB; }

/*#bc-wrapper div.department-list tbody tr*/

/* background: #eeeeee url(images/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x; */


/* DEPARTMENTS ---------------------------------------------------------- END */


/* DEPARTMENTS --------------------------------------------------- PAGINATION */

#bc-wrapper div.page-nav { width: 100%;}
#bc-wrapper div.page-nav ul{ width: 100%; text-align: center; }
#bc-wrapper div.page-nav *{ vertical-align: middle; font-size: 25px; line-height: 25px;}
#bc-wrapper div.page-nav li{ display: inline-block; padding: 3px; height: 25px; min-width: 25px; text-align: center;}
#bc-wrapper div.page-nav li:hover{ text-decoration: underline; cursor: pointer; }
#bc-wrapper div.page-nav li.current{ color: #0077EE; }
#bc-wrapper div.page-nav li.current:hover{ color: #0077EE; background-color: #FFF; }
#bc-wrapper div.page-nav li.passive{ color: #aaaaaa; }
#bc-wrapper div.page-nav li.passive:hover{ cursor: auto; background-color: #FFF; }

/* DEPARTMENTS ---------------------------------------------------------- END */