<!-- шаблон строки в таблице отделений -->

<tr>
    <td class="title-col">
        <div class="name">Обменный пункт</div>
        <div class="work-time">
            <div class="days">пн-пт. :</div><div class="hours">9:00-18:00</div>
            <div class="days">сб-вс. :</div><div class="hours">выходной</div>
        </div>
    </td>
    <td class="addr-col">
        ул. Руссиянова 24-А<br/>
        <div class="note">универсам «Полесье». 2-ой этаж.</div>
    </td>
    <td class="map-col">
        <img src="<?php echo BASE_URL; ?>img/layout/map-icon.png" alt="место на карте" />
    </td>
    <td class="phone-col">
        <div class="phone">(017) 275-13-27</div>
        <div class="fax">(017) 275-13-28</div>
        <div class="mobile">(029) 301-89-28</div>
    </td>
</tr>