/* CSS Document */

img{border:0px;}
body{ margin-top:0px; background-color:#000000; margin-left:0px; margin-right:0px;}

.head {margin-left:350px; margin-top:40px;}

.content {width:910px; height:339px; border:0px; background-image:url(../img/txt_pic.jpg); background-repeat:no-repeat;}
.left {background-image:url(../img/template-cybersant-javascript_02.jpg); background-position:right; background-repeat:no-repeat;}

.right {background-image: url(../img/right_04.jpg); background-position:left; background-repeat:no-repeat;}

.zag1 {font-family:Arial; font-size:48px; color:#FBC00E;/*color:#FFFF00; /*color:#fad464;*/ font-weight:bold; text-align:center;
 line-height:0.9; letter-spacing:-2pt;}
 
 .pod_zag {font-family:Arial; font-size:30px; color:#FBC00E;/*color:#FFFF00; /*color:#fad464;*/ font-weight:bold; text-align:left;
 line-height:0.9; letter-spacing:0pt;}
 
.chasti {font-family:Georgia;/*Times New Roman;*/ font-size:25px; color:white; font-weight:normal; text-align:left; margin-left:20px;}
.lesson {font-family:Georgia;/*Times New Roman;*/ font-size:21px; color:#b4b4b4; font-weight:normal; text-align:left; margin-left:40px;line-height:1.5;}

 .futer {font-family:Tahoma; font-size:11px; color: #FFFFFF; font-weight:normal;letter-spacing:0pt;line-height:1.9;}
 
 .main_txt{font-family:Georgia;/*Times New Roman;*/ font-size:21px; color: #FFFFFF; font-weight:normal; text-align:left;
 line-height:1.5;}
 
.cian {font-family:Georgia;/*Times New Roman;*/ font-size:21px; color: #00d8ff;/*color: #FFFFFF;*/ font-weight:normal; text-decoration:underline;}
.cian:hover {font-family:Georgia;/*Times New Roman;*/ font-size:21px; color: #00d8ff;/*color: #FFFFFF;*/ font-weight:normal; text-decoration:none;}

a {font-family:Tahoma; font-size:11px; color: #FFFFFF; font-weight:normal;letter-spacing:0pt;line-height:1.9; text-decoration:underline;}
a:hover {font-family:Tahoma; font-size:11px; color: #FFFFFF; font-weight:normal;letter-spacing:0pt;line-height:1.9; text-decoration:none;}

.name
{
border:0px silver solid;
font-family:Arial;
font-size:25px; color:#FFFFFF; font-weight:bold;
background-image:url(../form/template-cybersant-javascript-copy_05.jpg);
height:32px;
}

#box{
display:none;
}
#q1 {text-decoration:none;}