
#bc-wrapper{
    margin: 0px auto;
    width: 700px;
    color: #333;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    
}

/* SEARCH ------------------------------------------------------------ SEARCH */
#bc-wrapper div.search{
    clear: both;
    margin-left: 200px;
    margin-top: 20px;
}

#bc-wrapper div.search *{
    vertical-align: middle;
}

#bc-wrapper div.search input{
    width: 290px;
    height: 20px;
    border: 1px solid #BBB;/*#333;*/
}

#bc-wrapper div.search img{
    cursor: pointer;
}
/* SEARCH --------------------------------------------------------------- END */

/* CITY-NAV -------------------------------------------------------- CITY-NAV */
#bc-wrapper div.city-nav{
    clear: both;
    margin: 20px 0px 20px 200px;

}

#bc-wrapper div.city-nav span.curr-city{
    font-weight: bold;
    float: left;
    margin-bottom: 3px;
}

#bc-wrapper div.city-nav span.city-list-trigger{
    border-bottom: 1px #0066CC dashed;
    float: left;
    margin-left: 20px;
    color: #0066CC;
    cursor: pointer;
}
/* CITY-NAV ------------------------------------------------------------- END */

/* CITY-LIST ------------------------------------------------------ CITY-LIST */
#bc-wrapper div.city-list{
    display: none;
    clear: both;
    margin: 0px 0px 20px 0px;
    width:100%;

    
    /*background-color: rgb(241,250,255);*/
}

#bc-wrapper div.city-list div.head{
    padding-left: 270px;
    height: 15px;
}

#bc-wrapper div.city-list div.head span.close{
    margin-right: 20px;
    float: right;
    color: #0066CC;
    height: 15px;
    line-height: 15px;
    /*font-size: 70%;*/
    font-size: 12px;
    cursor: pointer;
}

#bc-wrapper div.city-list div.head span.close:hover{
    text-decoration: underline;
}

#bc-wrapper div.city-list div.content{
    border: 1px solid #0077EE;
    
}

#bc-wrapper div.city-list div.content li{
    cursor: pointer;
}

#bc-wrapper div.city-list div.content table{
    padding: 10px;
    margin: 20px 0px 20px 10px;
}

#bc-wrapper div.city-list div.content tr.head{
    margin: 20px 20px 0px 20px;
}
#bc-wrapper div.city-list div.content tr.head td{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#bc-wrapper div.city-list div.content td{
    width: 200px;
    vertical-align: top;
    padding: 10px 15px 20px 15px;

}

#bc-wrapper div.city-list tr.city-search td{
    padding: 0px 0px 20px 10px;
}

#bc-wrapper div.city-list tr.city-search td *{
    vertical-align: middle;
}

#bc-wrapper div.city-list tr.city-search input{
    width: 290px;
    height: 20px;
    border: 1px solid #AAA;
}

#bc-wrapper div.city-list div.content td li{
    width: 200px;
    min-height: 25px;
    line-height: 25px;

}

#bc-wrapper div.city-list div.content td li:hover{
    color: #0066CC;
}

#bc-wrapper div.city-list div.content td.select-base ul{
    display: none;
}

#bc-wrapper div.city-list div.content td.select-base ul.current{
    display: block;
}

#bc-wrapper div.city-list div.content td.select-base.areas{
    border-left: 1px #0077EE dashed;
    border-right: 1px #0077EE dashed;
    font-size: 18px;
}

#bc-wrapper div.city-list div.content td.select-base.areas div.area-center{
    font-size: 19px;
    font-weight: bold;
    width: 200px;
}

#bc-wrapper div.city-list div.content td.select-base.areas li.selected{
    background-image: url(../img/layout/area-selected.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: bold;
    /*color: #0066CC;*/
}

#bc-wrapper div.city-list div.content td.select-base.cities{
    font-size: 16px;
}

#bc-wrapper div.city-list div.content td.select-base.cities span.show-all{
    font-size: 13px;
    color: #0066CC;
    height: 13px;
    line-height: 13px;
    cursor: pointer;
    float: right;
    margin: 5px 7px 0px 0px ;
}

#bc-wrapper div.city-list div.content td.select-base.cities span.show-all:hover{
    text-decoration: underline;
}

#bc-wrapper div.city-list div.content td.select-base.cities li.selected{
    color: #0066CC;
    font-weight: bold;
}

#bc-wrapper div.city-list div.content td.select-base.regions{
}

#bc-wrapper div.city-list div.content td.select-base.regions li{
    font-size: 20px;
}

#bc-wrapper div.city-list div.content td.select-base.regions li.selected{
    background-image: url(../img/layout/region-selected.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: bold;
    /*color: #0066CC;*/
}
/* CITY-LIST ------------------------------------------------------------ END */

/* BANK-LIST ------------------------------------------------------ BANK-LIST */

#bc-wrapper div.bank-list{
    margin-top: 20px;
}

#bc-wrapper div.bank-list table {
    border-collapse: collapse;
}

#bc-wrapper div.bank-list table td.logo-col{
    text-align: right;
    width: 170px;
    padding-right: 15px;
}

#bc-wrapper div.bank-list table td.title-col{
    width: 370px;
    padding-left: 15px
}

#bc-wrapper div.bank-list table td.link-col{
    width: 160px;
}

#bc-wrapper div.bank-list table td.link-col a{
    text-decoration: none;
    color: #0066CC;
}

#bc-wrapper div.bank-list table td.link-col a:visited{
    color: #333;
}

#bc-wrapper div.bank-list table td.link-col a:hover{
    color: #333;
}

#bc-wrapper div.bank-list table tbody tr{
    border-top: 1px solid #DDD;
    height: 37px;
    padding: 3px;
}

#bc-wrapper div.bank-list table tbody tr:hover{
    border-top: 1px solid #0077EE;
    border-bottom: 1px solid #0077EE;
    background-color: rgb(241,250,255);
}

#bc-wrapper div.bank-list table td{
    padding: 3px;
}

#bc-wrapper div.bank-list table td *{
    vertical-align: middle;
}
/* BANK-LIST ------------------------------------------------------------ END */

/* ALPHA-NAV ------------------------------------------------------ ALPHA-NAV */
#bc-wrapper div.alpha-nav{
    clear: both;
    cursor: default;
    width: 700px;
}

#bc-wrapper div.alpha-nav ul{
    text-align: center;
    width: 100%;
}

#bc-wrapper div.alpha-nav li{

    display: inline-block;
    width: 20px;
    color: #DDD;
}

#bc-wrapper div.alpha-nav li.first{
    width: 33px;
}

#bc-wrapper div.alpha-nav li.variant{

    color: #0066CC;
    cursor: pointer;
}

#bc-wrapper div.alpha-nav li.selected{
    font-weight: bold;
    text-decoration: underline;
}
/* ALPHA-NAV ------------------------------------------------------------ END */